.board{
    height: 500px;
    width: 500px;
    display: grid;
    border: 15px solid rgba(128, 128, 128, 0.407);

}
body {
    max-width: max-content;
    margin: auto;
    }
    .title{
        text-align: center;
    }